@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");

* {
  cursor: none;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #ffe5ea;
}

.title {
  font-size: 10rem;
  color: #eee;
}

.cursor {
  background-color: #ccc;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
